body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: o;
    list-style: none;
    text-decoration: none;
}
.ingreso{
    display: flex;
    justify-content: end;
    width: 100%;
}
.login{
    margin: 0px 20px 0px 0px;
    color: white;
    background-color: red;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 5px;
    transition: all .3s;
}
.login:hover{
    background-color: white;
    color: red;
    border: .5px solid red;
}
.logo img{
    width: 25px;
    height: 25px;
}
.buscador img{
    width: 30px;
    height: 30px;
    transition: all .3s;
}
.buscador img:hover{
    border: .5px solid rgb(143, 142, 142);
    border-radius: 5px;
}
header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.barra-navegacion{
    display: flex;
    align-items: center;
    padding: 10px 2px;
    box-shadow: 0px .3px 0px 0px black;
}
ul{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: black;
}
li a{
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: medium;
    transition: all 0.5s;
}
li a:hover{
    border-block-end: 1px solid red;
}
.hambuerguesa{
    display: none;
    cursor: pointer;
}
.seccion1{
    height: 85vh;
    background-image: url(imagenes/propiedad1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion1 h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    max-width: 600px;
    text-align: center;
    margin: 10px 0px 30px 0px;
}
.botones{
    display: flex;
    background-color: rgba(7, 7, 7, 0.466);
    border-radius: 5px;
    margin: 10px 0px 7px 0px;
}
.botones a{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    padding: 10px 20px;
    border-left: 1px solid white;
    transition: all .3s;
}
.botones a:hover{
    border-radius: 5px;
    background-color: white;
    color: black;
}
.buscador{
    display: flex;
    border-radius: 5px;
}
.buscador input{
    border: none;
    outline: none;
    border-radius: 5px;
    width: 250px;
    padding: 0px 9px;
}
.buscador img{
    border-left: .5px solid rgb(85, 84, 84);
}
.buscador11{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 5px 3px;
    margin: 0px 0px 30px 0px;
}
.buscador11 select{
    border: none;
    outline: none;
    border-right: .5px solid rgb(75, 73, 73);
    width: 200px;
    padding: 0px 5px;
}
.dest{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px 0px;
}
.destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.casas1{
    width: 210px;
    height: 230px;
    margin: 10px 15px;
    border-radius: 5px;
    text-align:end;
    align-content: end;
    padding: 0px 0px 10px 0px;
    background-image: url(imagenes/oferta1.jpg);
    background-position: center;
    background-size: cover;
    transition: all .3s;
}
.casas1 a{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    transition: all .3s;
    
}
.casas1 a:hover{
    background-color: white;
    color: black;
}
.casas2{
    width: 210px;
    height: 230px;
    margin: 10px 15px;
    border-radius: 5px;
    text-align:end;
    align-content: end;
    padding: 0px 0px 10px 0px;
    background-image: url(imagenes/oferta2.jfif);
    background-position: center;
    background-size: cover;
    transition: all .3s;
}
.casas2:hover{
    transform: scale(1.1);
}
.casas1:hover{
    transform: scale(1.1);
}
.casas3:hover{
    transform: scale(1.1);
}
.casas2 a{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: all .3s;
}
.casas2 a:hover{
    background-color: white;
    color: black;
}
.casas3{
    width: 210px;
    height: 230px;
    margin: 10px 15px;
    border-radius: 5px;
    text-align:end;
    align-content: end;
    padding: 0px 0px 10px 0px;
    background-image: url(imagenes/oferta3.jpg);
    background-position: center;
    background-size: cover;
    transition: all .3s;
}
.casas3 a{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: all .3s;
}
.casas3 a:hover{
    background-color: white;
    color: black;
}
.mir{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px 0px;
}
.infocasas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.informacion{
    width: 210px;
    height: 350px;
    margin: 10px 15px;
    border-radius: 5px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.informacion img{
    width: 210px;
    height: 130px;
}
.informacion h2{
    padding: 10px 0px;
}

.publicidad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 10px;
}
.cuadro2 img{
    width: 40px ;
    height: 40px;
}
.cuadro3 img{
    width: 40px ;
    height: 40px;
}
.cuadro4 img{
    width: 40px ;
    height: 40px;
}
.cuadro5 img{
    width: 40px ;
    height: 40px;
}
.cuadro6 img{
    width: 100%;
    height: 100%;
}
    
.cuadro1 {
    grid-column: span 2 / span 2;
}

.cuadro2 {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    align-items: center;
}

.cuadro3 {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    align-items: center;
}

.cuadro4 {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    align-items: center;
}

.cuadro5 {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    align-items: center;
}

.cuadro6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: aqua;
    height: 200px;
}
.busquedas{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px 0px;
}


.terrenos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    padding: 0px 10px;
}
    
.div1 {
    grid-row: span 4 / span 4;
}
.div1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.div1 img:hover{
    transform: scale(0.9);
}
.div2 img:hover{
    transform: scale(0.9);
}
.div3 img:hover{
    transform: scale(0.9);
}
.div4 img:hover{
    transform: scale(0.9);
}
.div5 img:hover{
    transform: scale(0.9);
}
.div6 img:hover{
    transform: scale(0.9);
}
.div2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.div3 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.div4 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.div5 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.div6 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}

.div2 {
    grid-row: span 2 / span 2;
}

.div3 {
    grid-row: span 2 / span 2;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div6 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}
        
.linea{
    margin: 20px 0px;
    
}


footer{
    display: flex;
    color: black;
    justify-content: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}
.servicios{
    margin: 10px 30px 10px 30px;
}
.servicios p{
    padding: 2px 0px;
    border-block-end: .5px solid rgb(119, 118, 118);
}
.redes{
    display: flex;
    align-items: center;
}
.redes img{
    width: 10px;
    height: 10px;
}
.image img{
    width: 100%;
    height: 120px;
}
